body {
    font-family: 'ADAM', sans-serif;
    letter-spacing: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

:root {
    --blue: #015EB8;
}

h2 {
    color: var(--blue);
}

td#block {
    display: block;
    width: 100%;
    clear: both
}

header {
    background-color: var(--blue);
    color: #fff;
    min-width: 100vw;
    min-height: 10vh;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

input {
    border: 1px solid black;
    border-radius: 3px;
    min-height: 30px;
    min-width: 100px;
    font-weight: bold;
}

th {
    color: white;
    background-color: var(--blue) ;
}

td,
th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    text-align: center;
}

#table-bottom {
    height: 2rem;
}